<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav class="navbar bg-body-tertiary" th:fragment="navbar">
    <div class="container-fluid bg-primary-subtle text-primary-emphasis"  >
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar navbar-expand-lg ">
            <a class="navbar-brand" th:href="@{/TrangChu/Home}"><i class="fa-solid fa-house" style="color: #000000;"></i> Trang chủ</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-inbox" style="color: #000000;"></i> Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-phone" style="color: #000000;"></i> Liên hệ</a>
                </li>
            </ul>
        </div>
        <div style="margin-right: 100px">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-user" style="color: #000205;"></i></a>
            <a class="navbar-brand" href="#"><i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i></a>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img th:src="@{/Image/image 5.png}">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fa-brands fa-slack" style="color: #00040a; font-size:20px "></i> Quản lý sản phẩm
                        </a>
                        <hr>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/TrangChu/SanPham}"><i class="fa-solid fa-shirt"
                                                                                           style="color: #000000;font-size:20px"></i></i>
                                Sản phẩm </a></li>
                            <hr>
                            <li><a class="dropdown-item" th:href="@{/TrangChu/MauSac}"><i class="fa-solid fa-palette"
                                                                                          style="color: #000000;font-size:20px"></i> Màu sắc</a>
                            </li>
                            <hr>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-minimize"
                                                                     style="color: #000000;font-size:20px"></i> Kích
                                thước</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-binoculars" style="color: #000000;font-size:20px"></i> Chất liệu </a></li>
                            <hr>
                            <li><a class="dropdown-item" th:href="@{/TrangChu/CoAo}"><i class="fa-brands fa-discord" style="color: #000000;font-size:20px"></i> Cổ áo</a></li>
                            <hr>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-layer-group" style="color: #000000;font-size:20px"></i> Danh Mục</a></li>
                            <hr>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fa-solid fa-truck-fast"
                                                         style="color: #000000; font-size:20px"></i> Bán hàng</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/TrangChu/Voucher}"><i class="fa-solid fa-ticket"
                                                        style="color: #000000;font-size:20px"></i> Quản lý Voucher</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-circle-user"
                                                        style="color: #000000;font-size:20px"></i> Quản lý tài khoản</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-file-invoice"
                                                        style="color: #000000;font-size:20px"></i> Quản lý hóa đơn</a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-chart-simple"
                                                        style="color: #000000;font-size:20px"></i> Thống kê</a>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>