<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body class="container">

<!--Danh Sach -->
    <div class="card">
        <div class="header">Danh sách nhân viên</div>
        <div class="body">
            <table class="table table-striped">
                <thead>
                <th>#</th>
                <th>Tên nhân viên</th>
                <th>Mã nhân viên</th>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Chức vụ</th>
                <th>Trạng thái</th>
                <th colspan="2">Chức năng</th>
                </thead>
                <tbody>
                    <tr th:each="nv, index:${list}">
                        <td th:text="${index+1}"></td>
                        <td th:text="*{tenNhanVien}"></td>
                        <td th:text="*{maNhanVien}"></td>
                        <td th:text="*{tenTaiKhoan}"></td>
                        <td th:text="*{chucVu}?'Admin':'Nhân viên'"></td>
                        <td th:text="*{ngayTao}"></td>
                        <td th:text="*{ngaySua}"></td>
                        <td th:text="*{trangThai}?'Đang hoạt động':'Không hoạt động'"></td>
                        <td>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                                     stroke="yellow" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>