<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ban Hang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd9b5e640d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

</head>
<body class="container">
<h1 class="text-danger text-center">Bán hàng tại quầy</h1>
<div class="row">
    <div class="col-7">
        <h2>Danh sách hoá đơn</h2>
        <table class="table">
            <thead>
            <tr>
                <td>STT</td>
                <td>ID</td>
                <td>Tên khách hàng</td>
                <td>Ngày tạo</td>
                <td>Trạng thái</td>
                <td>Chức năng</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="hd,i : ${hoadon}" th:if="${hd.trangthai == 1}" >

                    <td th:text="${i.index}">1</td>
                    <td th:text="${hd.id}">1 </td>
                    <td th:text="${hd.nhanVien.tennhanvien}">1</td>
                    <td th:text="${hd.ngaytao}">1</td>
                    <td th:text="${hd.trangthai == 1 ? 'chưa thanh toán' : 'đã tt'}">1</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/banhang/tronhd(id=${hd.id})}">Chọn</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Giỏ hàng</h2>
        <table class="table " style="padding-top:150px">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Kích thước</th>
                <th>màu sắc</th>
                <th>chất liệu</th>
                <th>đơn giá</th>
                <th>Số lượng sản phẩm</th>
                <!--<th> sản phẩm chi tiết không cần phải có Ảnh</th>-->
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="gio, i : ${giohang}" >
                <form th:action="@{/banhang/updategiohang(id=${gio.id})}" method="post">
                <td th:text="${i.index + 1}">1</td>
                <td th:text="${gio.sanPhamChiTiet.sanPham.tensp}">1</td>
                <td th:text="${gio.sanPhamChiTiet.kichThuoc.ten_kich_thuoc}">1</td>
                <td th:text="${gio.sanPhamChiTiet.mauSac.ten_mau_sac}">1</td>
                <td th:text="${gio.sanPhamChiTiet.sanPham.chatLieu.ten_chat_lieu}">1</td>
                <td th:text="${gio.sanPhamChiTiet.don_gia}">1</td>
                <td><input type="text" th:value="${gio.soluong}" name="soluongsp"></td>
                <td>
                    <button class="btn btn-success">update</button>
                    <a th:href="@{/banhang/xoaSP_gioHang(id=${gio.id})}" class="btn btn-info" >delete</a>
                </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5">
        <h2>Tạo hoá đơn</h2>
        <div class="row">
            <div>
                <div>
                    <label class="mb-3 col-3">Số điện thoại</label>
                    <input type="text" class="col-7">
                </div>
                <a href="/hoa-don/khach-hang" class="btn btn-primary">Search</a>
            </div>
            <div class="mb-3">
                <label class="col-3">Ten Khach hang</label>
                <input type="text" th:value="${tenkhachhang}" class="col-7" readonly>
            </div>
            <div class="mb-3">
                <label class="col-3">ID Hoa don</label>
                <input type="text" th:value="${idhd}"  class="col-7" readonly>
            </div>
            <div class="mb-3">
                <label class="col-3">Tong tien</label>
                <input type="text" th:value="${tongtien}"  class="col-7" readonly >
            </div>
            <div class="text-center">
                <a th:href="@{/banhang/taohd}" class="btn btn-warning">Tạo hóa đơn</a>
                <a th:href="@{/banhang/thanhtoan}" class="btn btn-success">Thanh toán</a>
            </div>
        </div>
<!--        <p class="color-info" th:text="${mess}">thông báo SOS</p>-->
    </div>

</div>

<form th:action="@{/banhang/locsp}" method="get">
    <div class="card text-bg-light" style="height: 100px; top:50px;">
        <div class="row" style="padding-left: 50px; padding-top:25px">
            <div class="col-md-2">
                <h3>Bộ lọc:</h3>
            </div>
            <div class="col-md-4" style="padding-right: 50px; margin-top: -15px">
                <input type="text" class="form-control" placeholder="Tên sản phẩm" name="tenSanPham">
                <div style="padding-top: 5px">
                    <select class="form-select" name="chatLieu">
                        <option selected th:value="null"></option>
                        <option th:each="chatLieu : ${chatLieuList}" th:value="${chatLieu.ten_chat_lieu}" th:text="${chatLieu.ten_chat_lieu}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="padding-right: 50px; margin-top: -15px">
                <select class="form-select" name="mauSac">
                    <option selected th:value="null"></option>
                    <option th:each="mauSac : ${mauSacList}" th:value="${mauSac.ten_mau_sac}" th:text="${mauSac.ten_mau_sac}"></option>
                </select>
                <div style="padding-top: 5px">
                    <select class="form-select" name="kichThuoc">
                        <option selected th:value="null"></option>
                        <option th:each="kichThuoc : ${kichThuocList}" th:value="${kichThuoc.ten_kich_thuoc}" th:text="${kichThuoc.ten_kich_thuoc}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn active">
                    <i class="fa-solid fa-rotate-right" style="color: #000000;"></i> tìm kiếm
                </button>
            </div>
        </div>
    </div>
</form>


<div>
    <h2>Danh sách chi tiết sản phẩm</h2>
    <table class="table " style="padding-top:150px">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Kích thước</th>
            <th>màu sắc</th>
            <th>giá</th>
            <th>Số lượng</th>
            <!--            <th>Ảnh</th>-->
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spct, iterStat : ${SanPhamChiTietList}" th:if="${spct.trang_thai==true}" >
            <td th:text="${iterStat.index + 1}">1</td>
            <td th:text="${spct.sanPham.tensp}">1</td>
            <td th:text="${spct.kichThuoc.ten_kich_thuoc}">1</td>
            <td th:text="${spct.mauSac.ten_mau_sac}">1</td>
            <td th:text="${spct.don_gia}">1</td>
            <td th:text="${spct.so_luong_san_pham}">1</td>
            <!-- chưa có chỗ để ảnh    <td><img th:src="@{/images/ + ${spct.anh_san_pham_chi_tiet}}" alt="Ảnh sản phẩm" /></td>-->
            <!--            <td th:text="${spct.anh_san_pham_chi_tiet}">1</td>-->
            <td>
                <a class="btn btn-info" th:href="@{/banhang/chonsp(id=${spct.id})}">trọn mua</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/banhang/HienThi}">Về đầu</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/banhang/(x=${currentPage - 1})}">&lt;&lt;&lt;</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/banhang/HienThi(x=${i})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/banhang/HienThi(x=${currentPage + 1})}">&gt;&gt;&gt;</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/banhang/HienThi(x=${totalPages - 1})}" th:text="${totalPages}">Cuối</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>