<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Chi Tiết Sản Phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd9b5e640d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>


    <!-- Thêm Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });

        // Đảm bảo Select2 hoạt động trong modal
        $('#addcl, #addkt, #addms').on('shown.bs.modal', function () {
            $('.select2').select2();
        });
    </script>
</head>
<body class="container">
<header>
    <h1>
        <a type="button" href="#"><i class="fa-solid fa-arrow-right fa-flip-horizontal"
                                     style="font-size:50px ;color: #000000;"></i></a>
        Chi tiết sản phẩm
    </h1>
    <form method="post" th:action="@{/ChiTietSanPham/sanphamdetam}" >
    <div class="card text-bg-light" style="height: 80px; top:50px ">
        <div class="row" style="padding-left: 25px; padding-top:25px">
            <div class="col-md-2">
                <h4>Tên sản phẩm:</h4>
            </div>
            <div class="col-md-10">
                <select class="form-select select2" name="sanphamid" >
                    <option th:each="sp : ${listsanpham}" th:value="${sp.id}" th:text="${sp.tensp}"></option>
                </select>
            </div>
        </div>
    </div>
    </div>
    <h2 style="text-align: center; padding-top: 70px">Thuộc Tính</h2>

    <div class="card text-bg-light" style="height: 150px; top:50px; margin-top: -25px ">
        <div class="row" style="padding-left: 50px; padding-top:25px">
            <div class="col-md-2">

                <h4>Kích thước:</h4>
            </div>
            <div class="col-md-3">
                <select class="form-select select2 " name="kichThuocIds" multiple>

                    <option th:each="kt : ${kichThuocList}" th:value="${kt.id}" th:text="${kt.ten_kich_thuoc}"></option>

                </select>
            </div>
            <div class="col-md-1" style="">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addkt">
                    <i class="fa-solid fa-circle-plus" style="color: #000000;font-size: 30px"></i>
                </button>
            </div>
            <div class="col-md-2">
                <h4>Màu sắc:</h4>
            </div>
            <div class="col-md-3">

                <select class="form-select select2 " name="mauSacIds"multiple>

                    <option th:each="ms : ${mauSacList}" th:value="${ms.id}" th:text="${ms.ten_mau_sac}"></option>

                </select>
            </div>
            <div class="col-md-1" style="">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addms">
                    <i class="fa-solid fa-circle-plus" style="color: #000000;font-size: 30px"></i>
                </button>   </div>
        </div>

        <button>thêm</button>
    </div>
    </form>
</header>
<h2 style="text-align: center; padding-top: 70px">sản phẩm chờ</h2>
<a th:href="@{/ChiTietSanPham/addSPCT}" class="btn btn-info">add</a>
<div class="card text-bg-light" style="top: 100px; margin-top: -75px">
    <table class="table " style="padding-top:150px">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Kích thước</th>
            <th>màu sắc</th>
            <th>giá</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spct, iterStat : ${spdt}">
            <form th:action="@{/ChiTietSanPham/updategigido(id=${spct.id})}" method="post" >
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${spct.sanPham.tensp}"></td>
            <td th:text="${spct.kichThuoc.ten_kich_thuoc}"></td>
            <td th:text="${spct.mauSac.ten_mau_sac}"></td>
            <td><input type="text" name="dongia" th:value="${spct.don_gia}"></td>
            <td><input type="text" name="slsp" th:value="${spct.so_luong_san_pham}"></td>
            <!--            <td><img th:src="@{/images/ + ${spct.anh_san_pham_chi_tiet}}" alt="Ảnh sản phẩm" /></td>-->
<!--            <td th:text="${spct.anh_san_pham_chi_tiet}">hihi</td>-->
            <td>
                <a th:href="@{/ChiTietSanPham/xoathanhtro(id=${spct.id})}" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can" style="color: #000000; font-size: 25px"></i>
                </a>
                <button>update</button>
            </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

<h2 style="text-align: center; padding-top: 130px">Sản phẩm chi tiết</h2>

<div class="card text-bg-light" style="top: 100px; margin-top: -75px">
    <table class="table " style="padding-top:150px">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Kích thước</th>
            <th>màu sắc</th>
            <th>giá</th>
            <th>Số lượng</th>
<!--            <th>Ảnh</th>-->
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spct, iterStat : ${SanPhamChiTietList}" >
            <td th:text="${iterStat.index + 1}">1</td>
            <td th:text="${spct.sanPham.tensp}">1</td>
            <td th:text="${spct.kichThuoc.ten_kich_thuoc}">1</td>
            <td th:text="${spct.mauSac.ten_mau_sac}">1</td>
            <td th:text="${spct.don_gia}">1</td>
            <td th:text="${spct.so_luong_san_pham}">1</td>
            <!-- chưa có chỗ để ảnh    <td><img th:src="@{/images/ + ${spct.anh_san_pham_chi_tiet}}" alt="Ảnh sản phẩm" /></td>-->
<!--            <td th:text="${spct.anh_san_pham_chi_tiet}">1</td>-->
            <td>
                <a type="button" data-bs-toggle="modal" data-bs-target="#update">
                    <i class="fa-solid fa-plus" style="color: red;font-size: 25px"></i>
                </a>
                <a class="btn btn-info" th:href="@{/ChiTietSanPham/xoaspct(id=${spct.id})}">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/ChiTietSanPham/HienThi}">Về đầu</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/ChiTietSanPham/HienThi(x=${currentPage - 1})}">&lt;&lt;&lt;</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/ChiTietSanPham/HienThi(x=${i})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/ChiTietSanPham/HienThi(x=${currentPage + 1})}">&gt;&gt;&gt;</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/ChiTietSanPham/HienThi(x=${totalPages - 1})}" th:text="${totalPages}">Cuối</a>
            </li>
        </ul>
    </nav>

</div>

<!-- Add Modal Contents for Chất Liệu, Kích Thước, Màu Sắc -->
<!-- add chat lieu -->
<div class="modal fade" id="addcl" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: red">Thêm Chất Liệu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">*Mã chất liệu</label>
                        <input type="text" class="form-control" placeholder="Mã chất liệu">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">*Tên chất liệu</label>
                        <input type="text" class="form-control" placeholder="Tên chất liệu">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">*Trạng thái</label>
                        <select class="form-select select2">
                            <option selected>Trạng thái...</option>
                            <option>...</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- add kich thuoc -->
<div class="modal fade" id="addkt" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: red">Thêm Kích Thước</h1>
</div>
<!-- add kich thuoc  -->
<div class="modal fade" id="addkt"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: red">Thêm Kích Thước </h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">*Mã kích thước </label>
                        <input type="text" class="form-control"placeholder="Mã kích thước">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">*Tên kích thước</label>
                        <input type="text" class="form-control"placeholder="Tên kích thước">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">*Trạng thái</label>
                        <select class="form-select">

                            <option selected>Trạng thái...</option>
                            <option>...</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- add mau sac  -->
<div class="modal fade" id="addms"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: red">Thêm Màu Sắc</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">*Mã màu</label>
                        <input type="text" class="form-control" placeholder="Mã màu ">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">*Tên màu</label>
                        <input type="text" class="form-control"placeholder="Tên màu ">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">*Trạng thái</label>
                        <select class="form-select">
                            <option selected>Trạng thái...</option>
                            <option>...</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<!--            xóa test-->
<!--            <div class="modal fade" id="delete" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h1 class="modal-title fs-5" style="color: red">Cảnh Báo</h1>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            <p>bạn có chắc muốn xóa sản phẩm này chứ</p>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <a th:href="@{/ChiTietSanPham/xoaspct}"></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
</div>

</div>
</body>
</html>

