<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/TrangChu::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Cổ áo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd9b5e640d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
</head>
<body class="container" th:fragment="CoAo">
<h1 class="text-danger text-center">Cổ áo</h1>
<div style="text-align: right">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add">
        <i class="fa-solid fa-plus" style="color: #fcfcfc;"></i>
    </button>
</div>

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="padding-top: 30px">
    <div class="row" style="padding-left: 50px; padding-top:15px">
        <div class="col-md-2">
            <h3 class="text-primary">Bộ lọc:</h3>
        </div>
        <div class="col-md-3" style="padding-right: 50px;">
            <form th:action="@{/CoAo/search}" method="get">
                <input type="text" class="form-control border-primary" name="key" placeholder="Tên cổ áo...">
            </form>
        </div>
        <div class="col-md-3">
            <select id="inputState" class="form-select border-primary">
                <option selected>Trạng thái...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <a>
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>Tìm
                </button>
            </a>
            <a th:href="@{/Voucher/back}">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa-solid fa-rotate-right" style="color: #000000;"></i>Mới
                </button>
            </a>
        </div>
    </div>
</div>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <table th:if="${listca}" class="table" style="padding-top:150px">
        <thead class="table-primary">
        <tr>
            <th>STT</th>
            <th>Mã Cổ Áo</th>
            <th>Tên Cổ Áo</th>
            <th>Ngày Tạo</th>
            <th>Ngày Sửa</th>
            <th>Trạng Thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="co,i: ${listca}">
            <td th:text="${i.count}"></td>
            <td th:text="${co.ma}"></td>
            <td th:text="${co.ten}"></td>
            <td th:text="${co.ngaytao}"></td>
            <td th:text="${co.ngaysua}"></td>
            <td th:text="${co.trangthai == true ? 'Còn hàng' : 'Hết hàng' }"></td>
            <td>
                <a th:href="@{/CoAo/Update/{id} (id=${co.id})}">
                    <i class="fa-regular fa-pen-to-square" style="color: #000000; font-size: 25px"></i>
                </a>
                <a th:href="@{/CoAo/remove/{id} (id=${co.id})}">
                    <i class="fa-solid fa-trash-can" style="color: #000000; font-size: 25px"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${currentPage > 1}">
                <a class="page-link" href="#" th:href="@{'?pageNo='+${currentPage-1}}" aria-label="Previous">
                    <span aria-hidden="true"> << </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" th:text="${currentPage}" disabled></a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPage}">
                <a th:href="@{'?pageNo='+${currentPage+1}}" class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"> >> </span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- add -->
<div class="modal fade" id="add" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: red">Thêm Cổ Áo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" th:action="@{/CoAo/Add}" th:object="${CoAo}" th:method="post">
                    <div class="col-md-6">
                        <label class="form-label">*Mã cổ áo</label>
                        <input type="text" th:field="*{ma}" class="form-control" placeholder="Mã cổ áo" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">*Tên cổ áo</label>
                        <input type="text" th:field="*{ten}" class="form-control" placeholder="Tên cổ áo" required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">*Trạng thái</label><br>
                        <input type="radio" th:field="*{trangthai}" th:value="true" checked> Còn Hàng
                        <input type="radio" th:field="*{trangthai}" th:value="false"> Hết Hàng
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update -->
<div class="modal fade" id="update" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: #d63131">Sửa Cổ Áo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="${modal}"></p>
                <form class="row g-3" th:action="@{/CoAo/Update}" th:object="${CoAo}" th:method="post">
                    <input type="text" th:field="*{id}" class="form-control" hidden>
                    <div class="col-md-6">
                        <label class="form-label">*Mã cổ áo</label>
                        <input type="text" th:field="*{ma}" class="form-control" placeholder="Mã cổ áo" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">*Tên cổ áo</label>
                        <input type="text" th:field="*{ten}" class="form-control" placeholder="Tên cổ áo" required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">*Trạng thái</label><br>
                        <input type="radio" th:field="*{trangthai}" th:value="true" checked> Còn Hàng
                        <input type="radio" th:field="*{trangthai}" th:value="false"> Hết Hàng
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
