# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Du_An_Xuong-FashionStyle\kaiadmin-lite-1.0.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
